# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore storage files.
/storage/*
!/storage/.keep

# Ignore master key for credentials.
/config/master.key

# Ignore node_modules
/node_modules

# Ignore .env file
.env

# Ignore coverage reports
/coverage
*coverage/
